.container {
	max-width: 100%;
	width: 1080px;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	min-height: 100vh;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

header {
	margin: 24px 0;
}

main {
	flex: 1;
}

footer {
	background-color: #fcfcfc;
	color: #9e9e9e;
	text-align: center;
	padding: 12px 8px;
	margin-top: 24px;
}

h1,h2, h3{
	font-size: 32px;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 0.5em;
	margin-top: 1em;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 20px;
}

a {
	color: #cd4e4e;
	text-decoration: none;
}

a:link:hover {
	text-decoration: underline;
}

@keyframes star {
	from {
		font-size: 0px;
	}
  
	to {
		font-size: 14px;
	}
}

.header{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.logo,.space-185 {
	max-width: 185px;
	display: inline-block;
}
.space-185{
	width: 185px;
}
.img {
	height: auto;
	max-width: 100%;
	width: auto;
	display: inline-block;
}

.invert {
	filter: invert(1);
}

.colunas{
	display: flex;
	align-items: flex-start;
	gap:24px;
}

.contagem{
	flex: 0 0 32%;
	max-width: 32%;
	ol{
		display: flex;
		flex-direction: column-reverse;
		margin-right: 12px;
	}
	li{
		order: attr(data-contagem);
		display: flex;
		justify-content: space-between;
		margin: 4px 2px;
		line-height: 1.1;
		transition:all ease-in-out 0.25s;
		position: relative;
		padding: 4px 0;

		&:after{
			content: attr(data-contagem) '⭐';
			display: inline-block;
			padding-left: 6px;
			font-weight: bold;
			display: inline-block;
		}
	}
}

.votacao{
	flex: 0 0 68%;
	max-width: 68%;
	position: relative;
	padding-bottom: 80px;

	.cursos{
	
		div[data-area]{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			gap: 8px;
			align-items: stretch;
		}
		h3{
			flex: 0 0 100%;
			max-width: 100%;
		}
		label{
			flex: 0 0 calc(25% - 20px);
			max-width: calc(25% - 20px);
			align-items: center;
			display: flex;
	
			background-color: #fcfcfc;
			border:solid 1px #e1e1e1;
			border-radius: 8px;
			padding: 12px 32px 12px 8px;
			align-items: center;

			position: relative;

			&::after{
				content: '⭐';
				position: absolute;
				top: 50%;
				right: 8px;
				transform: translateY(-50%);
				display: block;
				font-size: 0;
				transform-origin: center center;
			}
			&.votou::after{
				animation: .35s .25s  star 3 ease-in-out ;
			}
		}
		input{
			flex: 0 0 20px;
			max-width: 20px;
		}
		span{
			display: block;
			font-size: 14px;
			flex: 1;
		}
	
		input:checked + span{
			font-weight: bold;
			text-decoration: underline;
		}

		&{

			[data-area="Biológicas/Saúde"] label{
				&:hover{
					border-color: #4ecd52;
				}
				input:checked + span{
					color:#4ecd52;
				}
			}
			[data-area="Exatas"] label{
				&:hover{
					border-color: #4e6fcd;
				}
				input:checked + span{
					color:#4e6fcd;
				}
			}
			[data-area="Humanas"] label{
				&:hover{
					border-color: #cd4e59;
				}
				input:checked + span{
					color:#cd4e59;
				}
			}
		}

	}

	.submit{
		margin: 24px auto;
		padding: 8px;
		background-color: #fff;
		position: sticky;
		bottom: 0;
		width: 100%;

		button{
			display: inline-block;
			padding: 16px 128px;
			background-color: #CF3736;
			border: solid 2px #CF3736;
			border-radius: 6px;
			margin-left: auto;
			margin-right: auto;

			color:#fff;
			text-transform: uppercase;
			transition: all 0.5s ease-in-out;
			&:disabled{
				filter: grayscale(75%)
			}
		}
	}
}